/* Background */

html, body {
    color: #5E4352;
	font-size: 1.3em;
    //text-shadow: 1px 1px 1px #2B222C;
	font-weight: bold;
	line-height: 1.35em;
    height: 100%;
    background: no-repeat center center fixed;
    background-color: #C7956D;
	background-image: url("img/sillhouette.png") no-repeat;
	//font-family: "medium-content-serif-font",Georgia,Cambria,"Times New Roman",Times,serif;
}

p {
	margin-bottom: 1.5em;
}

/* Scene */

.scene {
    margin-top: 2em;
}

li {
	margin-bottom: 0.5em;
}

ul#options {
    margin-top: 1em;
    margin-bottom: 3em; /* This creates space between options and footer. */
    list-style: none;
	color: #965D62;
}

ul#options li a {
    color: #965D62;
    text-decoration: none;
	text-transform: none;
}

ul#options li a:hover{
    color: #5E4352;
    text-decoration: none;
	text-transform: none;
}

.data-name {
    font-weight: bold;
}

/* Footer */

footer {
    margin-top: 1em;
    margin-bottom: 1em;
	color: #F2D974;
	font-weight: normal;
	font-size: .7em;
}

footer ul {
    list-style-type: none;
    margin-bottom: 0.5em;
}

footer li {
    list-style-type: none;
    padding-right: 0.5em;
    margin-right: 0.5em;
    border-right: 1px solid #F2D974;
    display: inline;
}

footer li:last-child {
    border-right: none;
}

footer a {
	color: #F2D974;
	text-decoration: none;
	text-transform: uppercase;
}

footer a:hover {
	color: #F2D974;
}



.divLine:before {
    content: '--------------------';
}

@media (max-width: 549px) {
    h1 {
        font-size: 3.0rem;
    }
}

@media (min-width: 550px) {
    body {
        background-color: #;
    }

    .divLine:before {
        content: '-------------------------------';
    }
}

/* Terminal text */

/* body.style_terminal */


/* Debugging view */

table#game-state caption {
    text-transform: uppercase;
    font-size: larger;
}

table#game-state th {
    padding: 0 15px;
}

table#game-state td {
    padding: 0 15px;
    border-bottom: none;
}
