/* Background */

html, body {
    color: lightgoldenrodyellow;
	text-shadow: 1px 1px 1px #000;

    height: 100%;
    background: #4c090c;
	background-size: cover;
    background-image: url('/static/img/wires1.png');
    background-image: url('/static/img/wires1.png'), linear-gradient(to right bottom, rgb(76, 9, 12) 25%, rgb(51,9,37) 63%, rgb(36,1,27) 82%);
}

/* Scene */

.scene {
    margin-top: 5%;
}

li {
	margin-bottom: 0;
}

ul#options {
    margin-top: 1em;
    list-style: disc inside;
	color: #d09672;
}

ul#options li a {
    color: #d09672;
    text-decoration: none;
	text-transform: none;
}

ul#options li a:hover{
    color: #DEDB65;
    text-decoration: none;
	text-transform: none;
}

.data-name {
    font-weight: bold;
}

/* Footer */

footer a {
	color: #616161;
	text-decoration: none;
	text-transform: uppercase;
}

footer a:hover {
	color: #AAA;
}

/* Backgrounds for different scene types */

body.style_comp_room {
	background: #26211e;
	background-size: cover;
    background-image: url('/static/img/wires2.png');
    background-image: url('/static/img/wires2.png'), linear-gradient(to right bottom, rgb(47, 37, 27) 25%, rgb(35,30,33) 63%, rgb(19,19,19) 82%);
}

body.style_terminal {
	background: #161f12;
	background-size: cover;
    background-image: url('/static/img/wires3.png');
    background-image: url('/static/img/wires3.png'), linear-gradient(to right bottom, rgb(6, 10, 4) 25%, rgb(17, 31, 14) 63%, rgb(20, 27, 7) 82%);
}

/* Terminal text */

body.style_terminal #options {
    font-family: 'Cutive Mono', monospace;
	line-height: 1em;
	font-size: larger;
}

span.style_terminal {
    font-family: 'Cutive Mono', monospace;
	line-height: 1em;
	font-size: larger;
}

body.style_terminal ul#options {
	list-style-type: None;
}

body.style_terminal ul#options li a:before {
	content: '> ';
}

body.style_terminal {
	line-height: 1.2;
}

/* Debugging view */

#debug-view {
    padding-top: 1em;
}

#hidden-debug-view {
    padding-top: 1em;
    display: none;
}

table#game-state caption {
    text-transform: uppercase;
    font-size: larger;
}

table#game-state th {
    padding: 0 15px;
}

table#game-state td {
    padding: 0 15px;
    border-bottom: none;
}
