<!doctype html>
<head>
    <meta charset="utf-8">
    <title>Mainframe</title>
    <meta name="description" content="A horror IF game for ProcJam 2015 by Liz England & Jurie Horneman">
    <meta name="author" content="Liz England & Jurie Horneman">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Raleway|Cutive+Mono' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1597509-7', 'auto');
  ga('send', 'pageview');

</script>
</head>
{% if body_classes %}
<body class="{{body_classes}}">
{% else %}
<body>
{% endif %}
    <div class="container">
        <div class="row">
            <div class="twelve columns scene">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% if debug %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endif %}
</body>
</html>