<!doctype html>
<head>
    <meta charset="utf-8">
    <title>{{page_title}}</title>
    <meta name="description" content="{{page_description}}">
    <meta name="author" content="{{page_authors}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="images/favicon.png">
</head>
{% if body_classes %}
<body class="{{body_classes}}">
{% else %}
<body>
{% endif %}
    <div class="container">
        <div class="row">
            <div class="twelve columns scene">
                {% block content %}{% endblock %}
                <a href="{{ url_for('restart_game') }}">Start over</a>
            </div>
        </div>
    </div>
</body>
</html>