{% extends "base.html" %}
{% block content %}
{% autoescape false %}
{{ text }}
<ul id="options">
    {% for option in options %}
    <li><a href="{{ url_for('show_scene', action=option.action, **option|params) }}" rel="nofollow">{{option.text}}</a></li>
    {% endfor %}
</ul>
{% endautoescape %}
{% if debug %}
<div id="debug-view">
    <table id="game-state">
        <caption>Current game state</caption>
        <thead>
            <tr><th>Name</th><th>Value</th></tr>
        </thead>
        <tbody>
            {% for key, value in game_state|dictsort %}
            <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
<footer>
    <ul>
        <li><a href="{{ url_for('restart_game') }}" rel="nofollow">Start over</a></li>
        <li><a href="{{ url_for('about') }}">About this game</a></li>
{% if debug %}
        <li><a href="javascript:toggleDebugView();">Toggle debug view</a></li>
{% endif %}
    </ul>
    &copy; 2015 Liz England &amp; Jurie Horneman
</footer>
{% endblock %}